.symbolCanvas {
    border: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 5px;
    margin-left: 4%;
}

.hidden {
    display: none;
}

.peerjs-label {
    height: 50px;
    width: 50px;
}
